body{
    margin:0;
    font-family: Helvetica;
    background-color: orange;
}

h1 {
    font-weight: 100;
    color: aliceblue;
}

#logo {
    height: 60px;
    width: 60px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}